%h1
  Listing provided_foods
%table
  %tr
    %th
      Name
    %th
      Fresh for
    %th
      Storage location
    %th
    %th
    %th
  - @provided_foods.each do |provided_food|
  %tr
    %td
      = provided_food.name
    %td
      = provided_food.fresh_for
    %td
      = provided_food.storage_location
    %td
      = link_to 'Show', provided_food
    %td
      = link_to 'Edit', edit_provided_food_path(provided_food)
    %td
      = link_to 'Destroy', provided_food, :confirm => 'Are you sure?', :method => :delete
  - end
%br
= link_to 'New provided_food', new_provided_food_path
