<h1>Listing custom_foods</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Fresh for</th>
    <th>Storage location</th>
    <th>User</th>
    <th>Provided food</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @custom_foods.each do |custom_food| %>
  <tr>
    <td><%= custom_food.name %></td>
    <td><%= custom_food.fresh_for %></td>
    <td><%= custom_food.storage_location %></td>
    <td><%= custom_food.user %></td>
    <td><%= custom_food.provided_food %></td>
    <td><%= link_to 'Show', custom_food %></td>
    <td><%= link_to 'Edit', edit_custom_food_path(custom_food) %></td>
    <td><%= link_to 'Destroy', custom_food, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New custom_food', new_custom_food_path %>
