<p>
  <b>Name:</b>
  <%= @custom_food.name %>
</p>

<p>
  <b>Fresh for:</b>
  <%= @custom_food.fresh_for %>
</p>

<p>
  <b>Storage location:</b>
  <%= @custom_food.storage_location %>
</p>

<p>
  <b>User:</b>
  <%= @custom_food.user %>
</p>

<p>
  <b>Provided food:</b>
  <%= @custom_food.provided_food %>
</p>


<%= link_to 'Edit', edit_custom_food_path(@custom_food) %> |
<%= link_to 'Back', custom_foods_path %>
