- form_tag('/login', :method => :post, :class => :bp) do
  %fieldset
    = label_tag :email
    %br
    = text_field_tag :email, nil, :class => :text
    %br
    = label_tag :password
    %br
    = password_field_tag :password, nil, :class => :text
    %br
    = submit_tag :Login
